@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
    font-family: Soria;
    src: url("soria-font.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    background: url("download\ \(3\).jpeg");
    background-size: cover;
    background-position: center;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Google Sans", sans-serif;
    color: #333;
}
h1, h2 {
    font-size: 24px;
}
p {
    /*font-family: 'Soria', serif;*/
    font-family: "Google Sans", sans-serif;
    font-size: 12px;
    color: #666;
}

.card {
    position: relative;
    margin: auto;
    width: 400px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px;
}
.banner {
    width: 100%;
    height: 80px;
    background: url("download\ \(3\).jpeg");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.profile {
    position: relative;
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: right;
    align-items: bottom;
}
.img {
    position: absolute;
    top: -30px;
    left: 2vh;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid white;
}
.img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.main-section {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
.stats-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid #e2e2e28f;
}
.stat {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 9px;
}
.border-right {
    border-right: 1px solid #e2e2e28f;
}
.top p {
    font-size: 12px;
    color: #666;
    margin-bottom: 5px;
}
.bottom h5 {
    font-size: 16px;
    color: #333;
}

.info-section {
    width: 100%;
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid #e2e2e28f;
}
.left {
    width: 40%;
}
.left h4, .details h2  {
    font-size: 16px;
}
.left p, .details p {
    font-size: 10px;
}

.right {
    width: 60%;
    height: 60px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
} 
.right input[type="text"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #e2e2e28f;
    border-radius: 5px;
    font-size: 11px;
}
.right input[type="email"]::placeholder, input[type="text"]::placeholder  {
    color: #aaa;
}
.right input[type="text"]::placeholder  {
    color: #333;
}
.right input:focus {
    outline: none;
}
.info-right {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.input-name {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #e2e2e28f;
    font-size: 11px;
}
.email-input {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    border: 1px solid #e2e2e28f;
    border-radius: 5px;
    font-size: 10px;
    gap: 5px;
}
.input-email {
    width: 40%;
    padding: 5px;
    border: none;
    border-right: 1px solid #e2e2e28f;
    border-radius: 5px;
    font-size: 11px;
}
.email-input h2 {
    font-size: 12px;
    font-weight: 600;
}
.setting-section {
    width: 100%;
    display: flex;
    flex-direction: column;;
}
.setting-item {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
.details {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.cta {
    width: 30%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.btn {
    width: 100%;
    padding: 5px 8px;
    border: 1px solid #e2e2e28f;
    border-radius: 5px;
    background-color: #fff;
    font-size: 10px;
    cursor: pointer;
}
.log-out-btn {
    width: 60%;
    background-color: #e2e2e28f;
    padding: 5px;
}

/* From Uiverse.io by mrhyddenn */ 
/* The switch - the box around the slider */
.switch {
 font-size: 17px;
 position: relative;
 display: inline-block;
 padding-right: 20px;
 width: 35px;
 height: 18px;
}

/* Hide default HTML checkbox */
.switch input {
 opacity: 1;
 width: 0;
 height: 0;
}

/* The slider */
.slider {
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0px;
 background: #fff;
 transition: .4s;
 border-radius: 30px;
 border: 1px solid #e2e2e28f;
}

.slider:before {
 position: absolute;
 content: "";
 height: 0.9em;
 width: 0.9em;
 border-radius: 16px;
 left: 1.2px;
 top: 0;
 bottom: 0;
 background-color: white;
 box-shadow: 0 2px 5px #999999;
 transition: .4s;
}

input:checked + .slider {
 background-color: #333;
 border: 1px solid transparent;
}

input:checked + .slider:before {
 transform: translateX(0.9em);
}

.bottom-section {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: right;
    margin-top: 8vh;
}
.bottom-btn {
    width: 50%;
    padding: 5px;
    gap: 5px;
}
.save-btn {
    width: 50%;
    padding: 7px;
    background-color: #333;
    color: #fff;
}
.cancle-btn {
    width: 30%;
    padding: 5px;
    background-color: #e2e2e28f;
}